@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    body {
        color: #333;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
    }

    h1 {
        color: gray;
        text-align: center;
    }

    p {
        line-height: 1.6;
    }
</style>

<div class="container">
    <h1>Welcome to Admin</h1>
    <p>Welcome to the admin dashboard of our website. Here, you have access to various tools and functionalities to manage and monitor the website's operations.</p>
</div>