@model LaFlor.Models.Flowers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="flower_name" class="control-label">Product Name</label>
                <input name="name" asp-for="flower_name" class="form-control" />
                <span asp-validation-for="flower_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="flower_price" class="control-label">Product Price</label>
                <input name="price" asp-for="flower_price" class="form-control" />
                <span asp-validation-for="flower_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="flower_details" class="control-label">Product Designer and Details</label>
                <input name="details" asp-for="flower_details" class="form-control" />
                <span asp-validation-for="flower_details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="flower_image" class="control-label">Upload Image</label>
                <input name="image" type="file" asp-for="flower_image" class="form-control" />
                <span asp-validation-for="flower_image" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="btn btn-primary" style="margin-top: 10px;"><a asp-action="Index" style="text-decoration: none; color: white;">Back to List</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
